.tilehead {
	font-size: large;
	border-bottom: 1px solid #C5DBEC;
}

.tile {
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.successmsg.tile {
	background-image: url('../img/executive/success.png'); 
}

.errormsg.tile {
	background-image: url('../img/executive/error.png'); 
}

.itbhu.tile {
	background-image: url('../img/executive/itbhu.png'); 
}

.ittpo.tile {
	background-image: url('../img/executive/ittpo.png'); 
}

.director.tile {
	background-image: url('../img/executive/director.png'); 
}
